# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
venv/
.env

# Django
db.sqlite3
staticfiles/
media/

# Node
node_modules/
frontend/dist/
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
